<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShelf</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
              <span>BOOK SHELF</span>
            </div>
        </nav>
    </header>
    <main>
        <div class="intro_container">
          <!-- <div class="book">
            <span class="page turn"></span>
            <span class="page turn"></span>
            <span class="page turn"></span>
            <span class="page turn"></span>
            <span class="page turn"></span>
            <span class="page turn"></span>
            <span class="cover"></span>
            <span class="page"></span>
            <span class="cover turn"></span>
          </div> -->
          <lottie-player src="https://assets10.lottiefiles.com/datafiles/5FFwoVNq8EcKMH4/data.json"  background="transparent"  speed="1"   loop autoplay></lottie-player>  
          <div class="intro_text_container">
            <h1 class='intro_text'> WELCOME TO BOOKSHELF</h1>
            <h2 class="intro_subtext">BUY SELL USED BOOKS HERE </h2>
          </div>
          <div class="button_container">
            <div class="button_inner">

              <a id="buy" class="buy_sell" href="/buy">Buy</a>
            </div>
            <div class="button_inner">

              <a id="sell"class="buy_sell" href="/login">Sell</a>
            </div>
          </div>
        </div>

        <div class="explain_container">
          
          <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_Q895iE.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
          <div class="explain_text">BUY BOOKS EASILY AND CONVINENTLY </div>
          <div class="explain_text"> SEARCH WITH A LARGE VARIETY OF BOOKS </div>
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_s7uvyjoj.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay  ></lottie-player>
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_zyaezih8.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
          <div class="explain_text"> SELL IT EASILY AND CONVINENTLY </div>
          <div class="explain_text"> NO NEED TO SEARCH BOOK STORES </div>
         <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_nibq7evz.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
         <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_kfcwv9hc.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
         <div class="explain_text"> CONTACT EACH OTHER EASILY </div>
         <!-- <lottie-player src="https://assets10.lottiefiles.com/datafiles/5FFwoVNq8EcKMH4/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player> -->
        <div class="books_intro explain_text">
          Some books you may Like
        </div>
        </div>

        <div class="cards_container">
            <div class="flip-card-container" style="--hue: 220">
                <div class="flip-card">
              
                  <div class="card-front">
                    <figure>
                      <div class="img-bg"></div>
                      <img src="/static/images/front_page.jpg" alt="Brohm Lake">
                      <figcaption>Brohm Lake</figcaption>
                    </figure>
              
                    <ul>
                      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eaque voluptatem molestias cum id expedita deleniti quo tempore qui soluta nemo unde, perferendis sint beatae quis perspiciatis in quam aut.
                      Error, ex. Inventore earum ab nostrum aspernatur esse! Corporis, magnam, nulla sed dicta explicabo in ea laborum provident odit, facere laudantium sequi nihil et dignissimos quae. Placeat atque iste nobis! </li>
                      
                    </ul>
                  </div>
              
                  <div class="card-back">
                    <figure>
                      <div class="img-bg"></div>
                      <img src="/static/images/back.png" alt="Brohm Lake">
                    </figure>
              
                    <button>Book</button>
              
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                  </div>
              
                </div>
              </div>
              <!-- /flip-card-container -->
              
              <!-- flip-card-container -->
              <div class="flip-card-container" style="--hue: 170">
                <div class="flip-card">
              
                  <div class="card-front">
                    <figure>
                      <div class="img-bg"></div>
                      <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image 2">
                      <figcaption>Légende</figcaption>
                    </figure>
              
                    <ul>
                      <li>Detail 1</li>
                      <li>Detail 2</li>
                      <li>Detail 3</li>
                      <li>Detail 4</li>
                      <li>Detail 5</li>
                    </ul>
                  </div>
              
                  <div class="card-back">
                    <figure>
                      <div class="img-bg"></div>
                      <img src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="image-2">
                    </figure>
              
                    <button>Book</button>
              
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                  </div>
              
                </div>
              </div>
    
    
            </div>

       
        <div class="about_container"></div>
    </main>



    <footer>
        <div class="footer_container">
          <div class="footer_inner">
            <span>Created with ❤ by Mr_internetix</span>
          </div>            
        </div>
    </footer>


  
  

  
    
</body>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</html>