
/* 
    ================================
        Best Viewed In Full Page
    ================================
*/

/* Hover over a card to flip, can tab too. */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}
/* body */

body{
  font: icon;
  background: hsl(220, 10%, 12%);
  /* font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
   */
   font-family: 'Handlee', cursive;
}
.cards_container {
  min-height: 100vh;
  padding: 40px;
  margin-top: -135px;
  

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: hsl(220, 10%, 12%);
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}

body::-webkit-scrollbar {
  width: 0px;
}

.intro_text{
  /* font-size: 40px; */
  /* font-size: 1.8rem; */
  color: white;
}
.intro_subtext{
  font-size: 1.6rem;
}
.intro_text_container{
  text-align: center;
  font-size: 1.8rem;
  position: absolute;
  color: white;
  top: 32%;
  left: 40%;


}


/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 310px;
  height: 500px;
  margin: 40px;

  perspective: 1000px;
}

.navbar{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  width: 100%;
  height: 70px;
  background-color:#000000;
  position: fixed;
  top: 0%;
  z-index: 99999;
  box-shadow: 0px 1px 10px #999;
}
.navbar > span{
  color: white;
  margin-left: 35px;
}
.intro_container{
  width:100%;
  height:100vh;
  display: flex;

}

.intro_container > lottie-player{
  position: absolute;
  top: 5%;
  left: 10%;
  width: 500px !important;
  height: 700px !important;
}

.explain_text{
  color: white;
  font-size: 2rem;
  justify-self: center;
}

 /* button container */

.button_container{
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
}

/* buy sell */
.buy_sell{
  cursor: pointer;
text-decoration: none;
outline: none;
    width: 162px;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 11px;
    color: black;
    margin: 10px;
    box-shadow: none;
    transition: transform 0.5s, box-shadow 0.5s;
}

.buy_sell:hover{
  box-shadow: 0px 15px 15px rgba(46, 229, 157, 0.4);
  transform: translateY(-10px);
}


.explain_container{
  width: 100%;
  align-self: center;
  height: auto;
  justify-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.explain_container > lottie-player{
  justify-self: center;
}

.books_intro{
  grid-column: 1/-1;
  align-self: center;
  margin-top: 100px;
}


.footer_container{
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
img {
  height: 100%;
  border-radius: 24px;
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

li:nth-child(2n) {
  color: var(--white-2);
}

li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

button:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}



/* book flip section  */
/* .book {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 18.5rem;
  height: 12.5rem;
  perspective: 70rem;
} */

.book{
  position: absolute;
  top: -225px;
  bottom: 0;
  left: 200px;
  /* right: 0; */
  margin: auto;
  width: 18.5rem;
  height: 12.5rem;
  perspective: 70rem;
}

.cover {
  background-color: #36354e;
  transform: rotateY(0deg);
  width: 9.25rem;
  height: 12.5rem;
}
.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 9rem;
  height: 12rem;
  text-align: right;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}
.page::before, .page::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
  padding-bottom: 1rem;
}
.cover, .page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page.turn {
  animation: bookOpen 3s forwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s
}
.page:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
@keyframes bookOpen150deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(150deg);
    z-index: 999;}
}
@keyframes bookOpen55deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(55deg);
    z-index: 999;}
}
@keyframes bookOpen30deg {
  50% { z-index: 999 }
  100% {  transform: rotateY(30deg);
    z-index: 999;}
}




@media only screen and (max-width:760px){
  .explain_text{
    text-align: center;
  }
  .explain_container{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 108px;
  }

  .intro_container{
    align-items: center;
    justify-content: center;
    height: 72vh;
  
  }
  
  .intro_container>lottie-player{
    top: 5%;
    left: unset;
    width: 300px !important;
    height: 372px !important;
  }
  .intro_text{
    font-size: 1.3rem;
  }
  
  .intro_subtext{
    font-size: 1.1rem;
  }

  .intro_text_container{
    top: 62%;
    left: unset;
  }
  
  .class-container{
    display: none;
  }

  .button_container{
    top: 75%;
    width: auto;
    left: unset;
  }

  .cards_container{

    margin-top: -58px;
  }

}